@keyframes spin {
  0% {
    transform: rotateY(360deg);
  }
}
@keyframes buzz {
  0% {
    transform: translateX(5px) rotate(5deg);
  }
  50% {
    transform: translateX(-5px) rotate(-5deg);
  }
  100% {
    transform: translateX(5px) rotate(5deg);
  }
}
@keyframes wobble {
  16% {
    transform: translateY(8px);
    transform: translateY(8px);
  }
  33% {
    transform: translateY(-6px);
    transform: translateY(-6px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83% {
    transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }
}
/* line 53, ../compass/sass/style.scss */
body {
  background-image: url(../img/bg.jpg);
  background-size: auto;
  background-repeat: space;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: white;
  width: 102%;
  overflow-x: hidden;
}

/* line 66, ../compass/sass/style.scss */
.navbar {
  opacity: 1;
  display: none;
}

/* line 75, ../compass/sass/style.scss */
.navbar-static-top {
  margin-top: 100px;
}

/* line 79, ../compass/sass/style.scss */
.parallax {
  height: 750px;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed !important;
  overflow: hidden;
}

/* line 87, ../compass/sass/style.scss */
.parallax.middle {
  min-width: 500px;
}

/* line 91, ../compass/sass/style.scss */
.vertical-divider {
  margin: 10px;
  font-size: 1em;
  color: #fff;
}

/* line 97, ../compass/sass/style.scss */
#home {
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  text-align: center;
}

/* line 106, ../compass/sass/style.scss */
#video-viewport {
  min-width: 900px;
}

/* line 110, ../compass/sass/style.scss */
video {
  width: 100%    !important;
  height: auto   !important;
  margin-bottom: -6px;
}

/* line 116, ../compass/sass/style.scss */
.overlay {
  width: 470px;
  height: 300px;
  border-radius: 5%;
  background: rgba(0, 0, 0, 0.1);
  display: block;
  position: absolute;
  top: 10%;
  left: 10%;
  visibility: hidden;
}

/* line 131, ../compass/sass/style.scss */
.willb {
  text-align: center;
  padding-top: 100px;
  font-family: inherit;
  font-size: 50px;
}

/* line 142, ../compass/sass/style.scss */
.willb img {
  border-radius: 0;
  border: 5px solid white;
  margin-bottom: 20px;
}

/* line 148, ../compass/sass/style.scss */
.icon img {
  height: 100px;
  margin-bottom: -17px;
  border-radius: 0;
}

/* line 157, ../compass/sass/style.scss */
.icon-nav img {
  height: 52px;
  margin-top: -16px;
  border-radius: 0;
}

/* line 163, ../compass/sass/style.scss */
.webdev {
  font-size: 20px;
}

/* line 167, ../compass/sass/style.scss */
.row.webdev {
  margin-bottom: 15px;
}

/* line 171, ../compass/sass/style.scss */
.overlay p {
  text-align: center;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
  color: #fff;
  font-family: inherit;
  margin-bottom: 15px;
  display: inline;
}

/* line 184, ../compass/sass/style.scss */
#skills {
  background-image: url("../img/bg.jpg");
  background-size: auto;
  height: 750px;
  overflow: hidden;
}

/* line 191, ../compass/sass/style.scss */
.revolving-row {
  margin-top: 120px;
  animation: buzz 7s linear infinite;
}

/* line 196, ../compass/sass/style.scss */
.about {
  min-width: 800px;
  margin-top: 20px;
  word-spacing: 15px;
  color: black;
  text-shadow: 0 0 0.5em #b3caf6, 0 0 0.5em #b3caf6;
}

/* line 206, ../compass/sass/style.scss */
.about h3 {
  font-style: italic;
  font-weight: 900;
  font-size: 30px;
}

/* line 212, ../compass/sass/style.scss */
.tit h3:hover {
  animation: wobble 5s linear infinite;
}

/* line 216, ../compass/sass/style.scss */
.story-icons:hover {
  transform: scale(1.8);
}

/* line 222, ../compass/sass/style.scss */
.logo-img img {
  height: 150px;
  border-radius: 0px;
  border: 5px solid black;
  margin-top: 20px;
}

/* line 229, ../compass/sass/style.scss */
.story-icons img {
  height: 75px;
  border-radius: 0px;
  margin-top: 35px;
}

/* line 235, ../compass/sass/style.scss */
#portfolio {
  background-image: url("../img/bg.jpg");
  background-size: auto;
  overflow: hidden;
}

/* line 251, ../compass/sass/style.scss */
.primary {
  border-top: 3px solid #eee;
  margin-left: -15px;
}

/* line 256, ../compass/sass/style.scss */
.hudson {
  color: black;
}

/* line 260, ../compass/sass/style.scss */
.white-container {
  font-family: cursive;
  width: 100%;
  height: 200px;
  background: black;
}

/* line 269, ../compass/sass/style.scss */
.service-box {
  margin: 50px auto 0;
  max-width: 400px;
}

/* line 274, ../compass/sass/style.scss */
.service-box img {
  height: 150px;
  transition: all 0.4s;
}

/* line 279, ../compass/sass/style.scss */
.mean img {
  margin-left: -25px;
}

/* line 283, ../compass/sass/style.scss */
#quote {
  color: black;
}

/* line 287, ../compass/sass/style.scss */
.quote {
  margin-top: 200px;
  color: black;
  font-size: 36px;
  min-width: 75%;
  text-shadow: 0 0 0.2em #b3caf6, 0 0 0.2em #b3caf6;
}

/* line 306, ../compass/sass/style.scss */
#portfolio img {
  border-radius: 0;
  height: 250px;
}

/* line 313, ../compass/sass/style.scss */
h2.section-heading {
  margin-top: 50px;
  font-weight: bold;
  color: white;
}

/* line 319, ../compass/sass/style.scss */
#portfolio .portfolio-item {
  box-sizing: border-box;
  margin: 70px 0px 10px 0px;
  min-width: 33.33%;
}

/* line 327, ../compass/sass/style.scss */
#portfolio .portfolio-item .portfolio-link {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

/* line 333, ../compass/sass/style.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: aquamarine;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all ease 0.5s;
}

/* line 342, ../compass/sass/style.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

/* line 346, ../compass/sass/style.scss */
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 10px;
}

/* line 353, ../compass/sass/style.scss */
.portfolio-item:hover {
  transform: scale(1.2);
}

/* line 357, ../compass/sass/style.scss */
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}

/* line 364, ../compass/sass/style.scss */
#portfolio a {
  color: white;
  text-decoration: none;
}

/* line 369, ../compass/sass/style.scss */
#loader {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: radial-gradient(#898989, #121212);
  text-align: center;
}

/* line 380, ../compass/sass/style.scss */
.atom-text {
  position: absolute;
  left: 47%;
  top: 30%;
}

/* line 390, ../compass/sass/style.scss */
.contact-icon img {
  height: 125px;
  transition: all 0.4s;
}

/* line 395, ../compass/sass/style.scss */
#contact a {
  color: aquamarine;
}

/* line 399, ../compass/sass/style.scss */
.container-footer {
  width: 100%;
}

/* line 403, ../compass/sass/style.scss */
.navbar-inner {
  text-align: center;
  font-size: 10px;
}

/* line 408, ../compass/sass/style.scss */
.navbar {
  margin-bottom: 0;
}

/* line 413, ../compass/sass/style.scss */
#contact-wrapper {
  background-image: url(../img/bg.jpg);
  background-size: auto;
}

/* line 418, ../compass/sass/style.scss */
.icon-wrapper {
  margin-top: 100px;
  margin-bottom: 150px;
}

/* line 423, ../compass/sass/style.scss */
#contact-me {
  margin-left: 15px;
}

/* line 427, ../compass/sass/style.scss */
.contact-icon {
  margin-top: 100px;
}

/* line 431, ../compass/sass/style.scss */
#message.form-control {
  height: 200px;
}

/* line 435, ../compass/sass/style.scss */
.labels {
  width: 100%;
}

/* line 439, ../compass/sass/style.scss */
#thankyou {
  font-family: cursive;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 30%;
}
